{% extends "header.html" %}
{% block body %}
<body class="body">
    <div class="container">
            <h4>User Change Password Form</h4>
            <br>
            {% from "_formhelpers.html" import render_field %}
            <form method=post action="/change-password/">
                <dl>
                    {{ render_field(form.email) }}
                    {{ render_field(form.password) }}
                    {{ render_field(form.npassword) }}
                    {{ render_field(form.rnpassword) }}
                </dl>
                <p><input class="btn btn-primary" type=submit value=Reset>
            </form>
            {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}</p>
            {% endif %}
            <div class="container">
                <br>
                {% for paragraph in Body_info %}
                <p>{{ paragraph }}</p>
                {% endfor %}
            </div>
        </div>
    </body>
{% endblock %}