{% extends "header.html" %}
{% block body %}
<body><div>
    <h2> Terms of Use</h2>
    <p>our mission is to empower every person on the planet to learn how to do anything. We do this by
        collaborating to create the world’s most helpful instructions. Before you read our detailed, legally binding
        Terms of Use, here is a non-legalese summary of some key information about reading or contributing to learnHindi:
    </p>
    <ol>
        <li>You continue to own the copyrights of the content you submit to learnHindi. That said, by posting your content
            on learnHindi you give us multiple rights to use and change it (see “User Content License Grants” below for
            details).</li>
        <li>Our community of editors (as opposed to the lawyers who wrote the terms of service below) has developed
            detailed guidelines about how to contribute to learnHindi.</li>
        <li>We license all User Content text on learnHindi under a Creative Commons license. </li>
        <li>We release most of our software under an Open Source license. </li>
        <li>We value your privacy. </li>
        <li>If you have a question, concern or just want to offer a note of thanks, you can email us at <a
                rel="nofollow" class="external text" href="mailto:bitesofjoy03@gmail.com">bitesofjoy03@gmail.com</a>.</li>
    </ol>
    <p>Please see below for our official Terms of Use. We encourage you to read them carefully. Thank you for using and
        contributing to learnHindi. We appreciate your support in promoting our goal of sharing information freely around
        the world.
    </p>
</div>
</body>
{% endblock %}